#word_text {
  

  text-overflow:ellipsis;
  white-space:nowrap;
  font-family: 'stem';
  height:32px;
  overflow: hidden;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  color:#000;
}
input {
  border: 1px solid #000;
  font-size: 16px;
  text-transform: uppercase;
}
input[type=text] {

  width: 240px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

#definition {
	
	width: 240px;
	
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #000;
}
.autocomplete-items {
  position: absolute;
  overflow-y: scroll;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #ddd; 
    
  overflow-x:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
   
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: red; 
  color: #000;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

	
    @font-face {

      font-family: 'stem';

      src: url('projects/Stem-Bold.eot');

      /* IE9 Compat Modes */

      src: url('projects/Stem-Bold.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */

        url('projects/Stem-Bold.woff2') format('woff2'),
        /* Super Modern Browsers */

        url('projects/Stem-Bold.woff') format('woff'),
        /* Pretty Modern Browsers */

        url('projects/Stem-Bold.ttf') format('truetype');

      /* Safari, Android, iOS */

    }
    
  @font-face {

      font-family: 'Archivo';

      src: url('projecs/Massimo_Light.eot');

      /* IE9 Compat Modes */

      src: url('projects/Massimo_Light.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */

        url('projects/Massimo_Light.woff2') format('woff2'),
        /* Super Modern Browsers */

        url('projects/Massimo_Light.woff') format('woff'),
        /* Pretty Modern Browsers */

        url('ptojects/Massimo_Light.ttf') format('truetype');

      /* Safari, Android, iOS */

    }
	
	
.wrapper {
		width: 280px;
		height: 533px;
		font-family: Archivo;
		color: #fff;
		background:url("bg.svg");
		position:absolute;
		background-size: 280px 533px;
		margin: 0 auto;
		left: 0;
		right:0;

}

wrapper:after {

		content: "";
		display: block;
		clear: both;

}


.words {
		width: 240px;
		margin: 0 auto;
		left: 0;
		right: 0;
		height:32px;
}

.word {
		width: 240px;
	    margin: 0 auto;
		padding: 20px;
		margin-top: 80px;
		margin-bottom: 20px;

		
}

#word_list {
	
		max-height:500px;
		overflow-y:hidden;
		color: red;
		text-shadow: 0 0 5px #000, 0 0 5px #000;
		background: #000;
		
}

.wrapper li {
		list-style-type: none;
		line-height: 1.4em;
		color: red;
		text-shadow: 0 0 5px #000, 0 0 5px #000;
		width: 240px;
		
		
}

.wrapper li:hover {
	
	cursor: pointer;
	color: #000;
}

.wrapper ul {
		
}
		
.wrapper h3 {
	color: red;
	text-shadow: 0 0 5px #000, 0 0 5px #000;
	background: linear-gradient(#000, #333);
	background-size: 240px 32px;
	line-height: 28px;
	margin: 0 auto;
	text-align: center;
	left: 0;
	right: 0;
	border-radius: 20px;
	border: 2px solid #2b0000;
}

#search {
	
		width: 100px;
		height: 13px;
		
}

button {
}

img {
	margin: 0 auto;
	left: 0;
	right: 0;
	position: absolute;
}

#butt:hover {
	
	filter: drop-shadow(0 0 5px #fff);
	-webkit-filter: drop-shadow(0 0 5px #fff);
	
}


	
	